<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Bem vindo ao Blog do Node</h1>
  <p class="lead">Esse é o tal do Nódulo Jorge Silva</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta</a>
</div>

<h2>Posts Recentes</h2>
{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h3>{{titulo}}</h3>
            <p>{{descricao}}</p>
            <a href="/postagem/{{slug}}"><button class="btn btn-info">Leia Mais</button></a>
            <hr>
            <small>categoria: {{categoria.nome}}</small><br>
            <small>Data de publicação: {{data}} </small>
            
        </div>
    </div>

{{else}}
<h4>Sem postagens!</h4>
{{/each}}